.custom-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.custom-loader {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  color: tomato;
  animation: custom-loader 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.custom-loader::before {
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  color: tomato;
  animation: custom-loader-before 1s infinite linear;
}
.custom-loader::after {
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  color: tomato;
  animation: custom-loader-after 1s infinite linear;
}

@keyframes custom-loader-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes custom-loader {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes custom-loader-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
